/* HOME PAGE  */
/* BANNER */
.homeBanner {
    width:100%;
    height: 25rem;
    background-image: url(../img/exclusive-top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }